-@ val avatarURL: String
-@ val tableData: List[Any]
-@ val tableHeaders: List[String]

-attributes("title") = "Ross M. Donaldson's Interblag Homething"
-attributes("headline") = "Android Password Generation Test"

div.three.columns#sidebar
	img.avatar(src=avatarURL href="www.gastove.com")
	h3 Ross M. Donaldson
	div.small

div.nine.columns
	p We've generated #{tableData.length} passwords. Passwords detail a grid; <1, 1> is the upper-left corner, coordinates are <X, Y>, with Y inverted (technically).

	table
		tr
			- for (header <- tableHeaders)
				th = header
		- for (row <- tableData)
			tr
				td = row.toString