-@ val avatarURL: String
-attributes("title") = "Ross M. Donaldson's Interblag Homething"
-attributes("headline") = "Is this thing on?"

div.three.columns#sidebar
  img.avatar(src=avatarURL href="www.gastove.com")
  h3 Ross M. Donaldson
  div.small

div.nine.columns
  :markdown
    ### Hello!
    It's the Internet; this is a profile! And some links? Eh? Eh?  

    I'm a data scientist, hacker, and eater of foods. I live in Oakland, California; I work in tech. I crunch numbers and swear swears, and then I take a break from numbers to have a drink and read. I write Many Codes, and backpack many places, but I only ride one bicycle at a time.  

    Maybe you'd like to  read more [about me](/about), or checkout my [github](http://www.github.com/Gastove). Maybe you'd like to send me an email -- for which I recommend gastove at gmail dot com -- and maybe you'd like to decode a message from me with my [gpg key](http://keys.gnupg.net/pks/lookup?op=get&search=0x1759ADAF5817FE2E). I've also got not one but _two_ blogs! The [more professional one](http://blog.gastove.com) is about code and data science; the [less professional one](http://food.gastove.com) is about food and eating. They are both very pleased to meet you.
