-@ val avatarURL: String
-attributes("title") = "Ross M. Donaldson's Interblag Homething"
-attributes("headline") = "Is this thing on?"

div(id="sidebar" class="three columns")
  img(id="avatar" src=avatarURL href="www.gastove.com")
  h3 Ross M. Donaldson
  p(id="bio") I'm a data and information scientist in Oakland, California. I like user advocacy, nice whiskeys, interesting problems, and trite self-description.

p Hello! It's the Internet; this is a profile! And some links? Eh? Eh?
p I live in Oakland, California; I work in tech. I crunch numbers and swear swears, and then I take a break from numbers to swear while drinking. I write Many Codes, and hike many places, but I only ride one bicycle at a time. 
p I'm currently figuring out this site; it's developing quickly, so check back periodically.
p ...but while I'm working on that, here are some handy links to stuff I does:
.ul
  li
    a(href="./themakingof") Just how did I make this site?
  li
    a(href="http://github.com/Gastove") Mah Githubs
  li 
    a(href="http://justkidding.Idont.haveone.yet.com") 100 Percent Real Link to My Blog
  li
    a(href="http://twitter.com/Gastove") Follow me on Twittar (protip: I yell a lot)