-@ val avatarURL: String
-attributes("title") = "Wait what"
-attributes("headline") = "Is this thing on"

div(id="sidebar" class="three columns")
  img(id="avatar" src=avatarURL)

p Oh god this site is under construction my eyes WAIT NO COME BACK it'll be better in a second.