-@ val avatarURL: String
-attributes("title") = "Wait what"
-attributes("headline") = "Is this thing on"

div(id="sidebar" class="three columns")
  img(id="avatar" src=avatarURL)
  h3 Ross M. Donaldson
  p(id="bio") I'm a data and information scientist in Oakland, California. I like user advocacy, nice whiskeys, interesting problems, and trite self-description.

h2 O HAI
p Oh god this site is under construction my eyes WAIT NO COME BACK it'll be better in a second.
p ...but while I'm working on that, here are some handy links to stuff I does:
.ul
  li
    a(href="http://github.com/Gastove") Mah Githubs
  li 
    a(href="http://justkidding.Idont.haveone.yet.com") 100 Percent Real Link to My Blog
