-@ val avatarURL: String
-attributes("title") = "Ross M. Donaldson's Interblag Homething"
-attributes("headline") = "Is this thing on?"

div.three.columns#sidebar
  img.avatar(src=avatarURL href="www.gastove.com")
  h3 Ross M. Donaldson
  div.small

div.nine.columns
  h4 Hello!
  p It's the Internet; this is a profile! And some links? Eh? Eh?
  p I'm a data scientist and hacker. I live in Oakland, California; I work in tech. I crunch numbers and swear swears, and then I take a break from numbers to have a drink and read. I write Many Codes, and hike many places, but I only ride one bicycle at a time.
  p I'm currently figuring out this site; it's developing quickly, so check back periodically. While I'm working on that, you might want to read more <a href=http://www.gastove.com/about>about me</a>, or checkout my <a href="http://www.github.com/Gastove">github</a>. I've also got a <a href=blog.gastove.com>blog; it's in progress, too.
