-@ val avatarURL: String
-attributes("title") = "How I builted this site"

div(id="sidebar" class="three columns")
  a(href="./")
  img(id="avatar" src=avatarURL)

p This site is written in Scala, using the excellent Scalatra framework, and hosted on Heroku. I do my templating in Jade using Scalate; while I wait and see what Twitter Bootsrap 3 is like, I'm using skeleton.css. My avatar picture was made by Daniel Woodling, who is a sweel guy.